name: cjm-sys-mon-nvidia
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - pip:
    - nvitop
    - cjm-plugin-system
    - cjm-infra-plugin-system
    - fastapi
    - uvicorn
    - psutil
    - httpx
